/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset.scss";
@import "./assets/styles/variables.scss";
@import "./assets/styles/templating.scss";

html {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
